.userPage{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.userPage__header{
    color: white;
    width: 95%;
    height: 200px;
    background-color: #778beb;
    display: flex;
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;
    flex-direction: column;
    gap: 10px;
}
.userPage__winChangePassword{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}