.loginPage {
  height: auto;
  width: 300px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loginPage__inputs {
  width: 18vw;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loginPage__btnLog {
  cursor: pointer;
  padding: 10px;
  background-color: #556ee6;
  color: "white";
  border: none;
  border-radius: 4px;
  color: white;
  &:active {
    background-color: #4b63d7;
  }
  &:hover {
    color: #dadada;
  }
}
.loginPage__inp {
  padding: 5px;
}
.loginPage__viewPasswordWin{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.loginPage__viewPasswordWinP{
    font-size: 14px;
    cursor: pointer;
}